<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>员工信息表</title>
    <script type="text/javascript" th:src="@{/static/js/vue.js}"></script>
</head>
<body>
<!--删除员工的提交表单-->
<form id="delete_form" method="post">
    <input type="hidden" name="_method" value="delete">
</form>
<!--显示员工信息的表格-->
<table id="empList" border="1px" cellspacing="0" cellpadding="0" style="align-content: center;">
    <tr>
        <th colspan="5">Employee Info</th>
    </tr>
    <tr>
        <th>id</th>
        <th>lastName</th>
        <th>email</th>
        <th>gender</th>
        <th>Options(<a th:href="@{/toAdd}">Add</a>)</th>
    </tr>
    <tr th:each="employee : ${employeeList}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.lastName}"></td>
        <td th:text="${employee.email}"></td>
        <td th:text="${employee.gender}"></td>
        <td>
            <a class="deleteA" @click="deleteEmployee" th:href="@{/employee/{id}(id=${employee.id})}">Delete</a>
            <a th:href="@{/employee/{id}(id=${employee.id})}">Update</a>
        </td>
    </tr>
</table>
<!--配置Vue-->
<script type="text/javascript">
    var vue = new Vue({
        el:"#empList",
        methods:{
            deleteEmployee:function (event) {
                var delete_form = document.getElementById("delete_form");

                delete_form.action = event.target.href;

                delete_form.submit();

                event.preventDefault();
            }
        }
    });
</script>
</body>
</html>